/* In this lesson: Styling recieved from a class is prioritized over styling recieved from inheritance. */

<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text {
    color: pink;
  }
</style>
<h1 class="pink-text">Hello World!</h1>
